<h1>Dashboard</h1>
<h1><%= @owner.name %></h1>
<h2><%= @owner.location %></h2>
<br>
<h1>Pets</h1>
<% @owner.pets.each do |pet| %>
<h2><%= link_to pet.name, pet_path(pet) %></h2>
<img src="<%= pet.pic_url %>" width="300">
<% end %>
<br>
<%= link_to "Add a Pet", new_pet_path %>
<%= link_to 'Delete Account', @owner, { method: 'delete', data: {confirm: 'Are you sure?'} } %>
