<h1>All Pets</h1>

<%= form_tag(pets_path, method: :get) do %>
<%= select_tag :search, options_from_collection_for_select(Species.all, :id, :name) %>
<%= submit_tag ("Search") %>
<% end %>

<div class="card-columns" style="display: inline-block;">
<% @pets.each do |pet| %>
<div class="card" style="width: 22rem; margin-top: 10px;">
  <img class="card-img-top" src="<%= pet.pic_url %>"   alt="Pet Image">
  <div class="card-body">
     <h5 class="card-title"><%= pet.name %></h5>
    <h6 class="card-subtitle mb-2 text-muted"><%= pet.species.name %></h6>
    <p class="card-text" style="margin-bottom: 20px;"><%= pet.breed %></p>
    <a href="<%= pet_path(pet) %>" class="btn btn-success">View Pet</a>
  </div>
</div>
  <%# <li><%= link_to pet.name, pet_path(pet) %>
<% end %>
</div>

