<div class="container">
	<div class="row">
		<h1><%= @pet.name %></h1>
	</div>
	
	<div class="block">
      <div class="row">
        <div class="span4">
          <img class="img-left" style="margin-right: 10px; height: 500px;" src="<%= @pet.pic_url %>"/>
          <div class="content-heading"><h3><%= @pet.species.name + " - " + @pet.breed%></h3></div>
          <div class="content-heading"><h4>Birthday: <%= @pet.dob %></h4></div>
          <div class="content-heading"><h4>Gender: <%= @pet.gender %></h4></div>
          <p><%= @pet.bio %></p>
         
          <br>
          <br>
<% if @pet.owner_id == session[:owner_id] %>
<h5>Upcoming Appointments</h5>
<% if @pet.upcoming_appointments == []%>
<%= "#{@pet.name} has no upcoming appointments" %>
<% else  %>
<% @pet.upcoming_appointments.each do |appt| %>
<%= "Appointment with #{appt.service_provider.company_name} on #{appt.date}" %> <br>
<button> <%= link_to "View Appointment", appointment_path(appt) %></button> <br>
<% end %>
<% end %>
<br>
<br>
<h5>Past Appointments</h5>
<% if @pet.past_appointments == []%>
<%= "#{@pet.name} has no past appointments" %>
<% else  %>
<% @pet.past_appointments.each do |appt| %>
<%= "Appointment with #{appt.service_provider.company_name} on #{appt.date}" %> <br>
<button> <%= link_to "View Appointment", appointment_path(appt) %></button> <br>
<% end %>
<% end %>
 <a href="<%= edit_pet_path(@pet) %>" class="btn btn-primary">Edit</a><br>
          <%= link_to 'Remove Pet', @pet, { method: 'delete', data: {confirm: 'Are you sure?'} } %>
<% end %>

        </div>
     </div>
     </div>








<br>



  </div>
</div>
</div>