<h1>Show Service Providers</h1>

<h1><%= @service_provider.company_name %></h1>
<h2><%= @service_provider.location %></h2>


<% @service_provider.service_types.each do |service_type| %>
<%= service_type %> <br>
<% end %>

Average Rating: <%= @service_provider.average_rating %> <br>

Bio: <%= @service_provider.bio %> <br>

Rates: £ <%= number_with_precision(@service_provider.rates, precision: 2) %> <br>


Email: <%= @service_provider.email %> <br>


<%= link_to "Book an appointment", new_appointment_path %>




