<h1><%= @service_provider.company_name %></h1>
<h3><%= @service_provider.location %></h3> 
<p> Average Rating: <%= @service_provider.average_rating %> </p>



<h5>Services offered</h5>

<ul>
<% @service_provider.service_types.each do |service_type| %>
<li><%= service_type %></li>
<% end %> </ul> 


<p><strong>About Us</strong></p>
<p><%= @service_provider.bio %> </p>

<p><strong>Rates: £ </strong><%= number_with_precision(@service_provider.rates, precision: 2) %></p>


<p><strong>Email: </strong><%= @service_provider.email %></p> <br>


<% if logged_in? %>
<a href="<%= new_appointment_path %>" class="btn btn-success">Book an Appointment</a>
<% end %>




