<h2>Book an Appointment with <%= @service_provider["company_name"] %></h2>
<div class="text-center border border-light bg-light p-5 col-md-5">
<%= bootstrap_form_for @appointment do |f| %>
<%= f.hidden_field :service_provider_id, value: session[:service_provider_id] %>
<%= f.hidden_field :review_score, value: 3 %>
Who's the appointment for? <%= f.collection_select :pet_id, @current_owner.pets, :id, :name, hide_label: true  %><br>
What's the appointment for?<%= f.collection_select :service_type, @service_provider["service_types"], :to_s, :to_s, hide_label: true  %><br>
When is the appointment for?<%= f.datetime_field :date, hide_label: true %><br>
How many hours is the appointment for? <%= f.number_field :duration, hide_label: true  %> <br>
<%= f.submit %>
<% end %>
</div>