<h1>Show Appointment</h1>

<h1><%= @appointment.service_type %></h1>
<h2><%= @appointment.pet.name %></h2>
<h2><%= @appointment.service_provider.company_name %></h2>
<h2><%= @appointment.date %></h2>
<h2><%= @appointment.duration %></h2>
<h2><%= @appointment.cost %></h2>
<h2><%= @appointment.review_score %></h2>
<h2><%= @appointment.review_content %></h2>
