<h1> You've booked <%= @appointment.pet.name %>'s <%= @appointment.service_type %> Session!</h1>

<p><strong>Service Provider: </strong><%= @appointment.service_provider.company_name %></p>

<p><strong>Date: </strong> <%= @appointment.date.strftime("%A, %B %-d %Y, at %H:%M") %></p>
<p><strong>Cost: £ </strong> <%= @appointment.duration * @appointment.service_provider.rates %></p>

<% if @appointment.date < DateTime.now %>
    <% if @appointment.review_score == nil || @appointment.review_score == "" %>
    <%= link_to "Review this appointment", review_form_path(@appointment.id) %>
    <% else %>
<h2><%= "Review Score: #{@appointment.review_score}" %></h2>
<h2> <%= "Review Content: #{@appointment.review_content}" %></h2>
    <% end %>
<% else %>
    <a href="<%= edit_appointment_path(@appointment) %>" class="btn btn-success">Edit Appointment</a> <br>
    <%= link_to 'Cancel Appointment', @appointment, { method: 'delete', data: {confirm: 'Are you sure?'} } %>
<% end %>

