<!DOCTYPE html>
<html>
  <head>
    <title>Mabel</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav>
    <%= link_to 'Pets', pets_path %>
     <%= link_to 'Find a Service Provider', service_providers_path %>
<% if logged_in? %>
    <%= link_to "Dashboard", owner_path(@current_owner)%>
    <%= link_to 'Logout', logout_path %>
  <% else %>
  <%= link_to "Signup", signup_path %>
  <%= link_to 'Login', login_path %>
  <% end %>
  </nav>
  <% if flash[:errors] %>
   <ul class=“errors”>
     <h2>Woof!! Something's wrong!</h2>
     <% flash[:errors].each do |error| %>
       <li><%= error %></li>
     <% end %>
   </ul>
 <% end %>
 <% if flash[:notices] %>
   <ul class=“notices”>
     <% flash[:notices].each do |notice| %>
       <li><%= notice %></li>
     <% end %>
   </ul>
 <% end %>
    <%= yield %>
  </body>
</html>
